<!DOCTYPE html>
<html>
  <head>
    <title>KessonmanjScribe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href=<%= root_path %>>
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
        </a>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Kessonmanj</strong> by Matthias. Made with <strong><3</strong> for <strong>Scribe</strong>.
        </p>
      </div>
    </footer>

  </body>
</html>
